version: '3.9'

services:
  spark-master:
    image: sobhanebrahimi/spark:0.1
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - HOME=/tmp
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    networks:
      - ProjectHost

  spark-worker:
    image: sobhanebrahimi/spark:0.1
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=1G
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - HOME=/tmp
    depends_on:
      - spark-master
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    networks:
      - ProjectHost

  pyspark-job:
    image: sobhanebrahimi/spark:0.1
    container_name: pyspark-job
    depends_on:
      - spark-master
      - spark-worker
    environment:
      - HOME=/tmp
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    command:
      [
        "/opt/bitnami/spark/bin/spark-submit",
        "--packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0",
        "--master", "spark://spark-master:7077",  
        "--jars", "/opt/bitnami/spark/jars/clickhouse-jdbc-0.7.2-all.jar",
        "/opt/bitnami/spark/scripts/etl.py"      ]
    networks:
      - ProjectHost

networks:
  ProjectHost:
    external: true


        # "/opt/bitnami/spark/bin/spark-submit",
        # "--packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0",
        # "--master", "spark://spark-master:7077",
        # "/opt/bitnami/spark/scripts/etl.py"