version: '3'

services:
  clickhouse-zookeeper:
    image: sobhanebrahimi/zookeper:0.1
    container_name: clickhouse-zookeeper
    env_file:
      - .env
    environment:
      - ALLOW_ANONYMOUS_LOGIN=${ALLOW_ANONYMOUS_LOGIN}
      - ZOOKEEPER_CLIENT_PORT=${ZOOKEEPER_CLIENT_PORT}
    # ports:
    #   - "12182:2181"
    #   - "12888:2888"
    #   - "13888:3888"
    networks:
      - ProjectHost

  clickhouse1:
    image: sobhanebrahimi/clickhouse:0.1 
    container_name: clickhouse1
    user: root
    env_file:
      - .env
    environment:
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
    ports:
      - "${CLICKHOUSE1_NATIVE_PORT}:9000"
      - "${CLICKHOUSE1_HTTP_PORT}:8123"
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - ProjectHost
    depends_on:
      - clickhouse-zookeeper
    volumes:
      - type: bind
        source: ./config_replica1.xml
        target: /etc/clickhouse-server/config.xml
      - ./init-db/init.sql:/tmp/init-db/init.sql
    entrypoint: >
      bash -c "
        /entrypoint.sh &   # start clickhouse server in background
        sleep 10           # wait for clickhouse server to start
        clickhouse-client --multiquery < /tmp/init-db/init.sql
        wait
      "

  clickhouse2:
    image: sobhanebrahimi/clickhouse:0.1 
    container_name: clickhouse2
    user: root  # نیاز داریم برای اجرای sudo
    env_file:
      - .env
    environment:
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
    ports:
      - "${CLICKHOUSE2_NATIVE_PORT}:9000"
      - "${CLICKHOUSE2_HTTP_PORT}:8123"
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - ProjectHost
    depends_on:
      - clickhouse-zookeeper
    volumes:
      - type: bind
        source: ./config_replica2.xml
        target: /etc/clickhouse-server/config.xml
      - ./init-db/init.sql:/tmp/init-db/init.sql

networks:
  ProjectHost:
    external: true
