version: '3.9'

services:
  spark-master:
    image: sobhanebrahimi/spark:0.1
    container_name: spark-master
    env_file:
      - .env
    environment:
      - SPARK_MODE=${SPARK_MODE_MASTER}
      - SPARK_RPC_AUTHENTICATION_ENABLED=${SPARK_RPC_AUTHENTICATION_ENABLED}
      - SPARK_RPC_ENCRYPTION_ENABLED=${SPARK_RPC_ENCRYPTION_ENABLED}
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=${SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED}
      - SPARK_SSL_ENABLED=${SPARK_SSL_ENABLED}
      - HOME=/tmp
    ports:
      - "8085:8080"
      - "7077:7077"
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    networks:
      - ProjectHost

  spark-worker1:
    image: sobhanebrahimi/spark:0.1
    container_name: spark-worker1
    env_file:
      - .env
    environment:
      - SPARK_MODE=${SPARK_MODE_WORKER}
      - SPARK_MASTER_URL=spark://spark-master:${SPARK_MASTER_PORT}
      - SPARK_WORKER_MEMORY=${SPARK_WORKER_MEMORY:-4g}
      - SPARK_WORKER_CORES=${SPARK_WORKER_CORES:-4}
      - SPARK_RPC_AUTHENTICATION_ENABLED=${SPARK_RPC_AUTHENTICATION_ENABLED}
      - SPARK_RPC_ENCRYPTION_ENABLED=${SPARK_RPC_ENCRYPTION_ENABLED}
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=${SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED}
      - SPARK_SSL_ENABLED=${SPARK_SSL_ENABLED}
      - HOME=/tmp
    depends_on:
      - spark-master
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    networks:
      - ProjectHost

  spark-worker2:
    image: sobhanebrahimi/spark:0.1
    container_name: spark-worker2
    env_file:
      - .env
    environment:
      - SPARK_MODE=${SPARK_MODE_WORKER}
      - SPARK_MASTER_URL=spark://spark-master:${SPARK_MASTER_PORT}
      - SPARK_WORKER_MEMORY=${SPARK_WORKER_MEMORY:-4g}
      - SPARK_WORKER_CORES=${SPARK_WORKER_CORES:-4}
      - SPARK_RPC_AUTHENTICATION_ENABLED=${SPARK_RPC_AUTHENTICATION_ENABLED}
      - SPARK_RPC_ENCRYPTION_ENABLED=${SPARK_RPC_ENCRYPTION_ENABLED}
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=${SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED}
      - SPARK_SSL_ENABLED=${SPARK_SSL_ENABLED}
      - HOME=/tmp
    depends_on:
      - spark-master
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    networks:
      - ProjectHost

  pyspark-job-cdc:
    image: sobhanebrahimi/spark:0.1
    container_name: pyspark-job-cdc
    depends_on:
      - spark-master
      - spark-worker1
      - spark-worker2
    env_file:
      - .env
    environment:
      - HOME=/tmp
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    command:
      [
        "/opt/bitnami/spark/bin/spark-submit",
        "--master", "spark://spark-master:${SPARK_MASTER_PORT}",
        "--driver-memory", "1g",
        "--executor-memory", "1g",
        "--conf", "spark.executor.instances=1",
        "--conf", "spark.executor.cores=2",
        "--conf", "spark.cores.max=4",
        "--conf", "spark.sql.shuffle.partitions=10",
        "/opt/bitnami/spark/scripts/northwind-ch-stg.py"
      ]
    networks:
      - ProjectHost

  pyspark-job-dw:
    image: sobhanebrahimi/spark:0.1
    container_name: pyspark-job-dw
    depends_on:
      - spark-master
      - spark-worker1
      - spark-worker2
      - pyspark-job-cdc
    env_file:
      - .env
    environment:
      - HOME=/tmp
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    command:
      [
        "/opt/bitnami/spark/bin/spark-submit",
        "--master", "spark://spark-master:${SPARK_MASTER_PORT}",
        "--driver-memory", "1g",
        "--executor-memory", "1g",
        "--conf", "spark.executor.instances=1",
        "--conf", "spark.executor.cores=2",
        "--conf", "spark.cores.max=4",
        "--conf", "spark.sql.shuffle.partitions=10",
        "/opt/bitnami/spark/scripts/northwind-dw.py"
      ]
    networks:
      - ProjectHost

networks:
  ProjectHost:
    external: true
