version: '3.9'

services:
  spark-master:
    image: sobhanebrahimi/spark:0.1
    container_name: spark-master
    env_file:
      - .env
    environment:
      - SPARK_MODE=${SPARK_MODE_MASTER}
      - SPARK_RPC_AUTHENTICATION_ENABLED=${SPARK_RPC_AUTHENTICATION_ENABLED}
      - SPARK_RPC_ENCRYPTION_ENABLED=${SPARK_RPC_ENCRYPTION_ENABLED}
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=${SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED}
      - SPARK_SSL_ENABLED=${SPARK_SSL_ENABLED}
      - HOME=/tmp
    # ports:
    #   - "${SPARK_MASTER_WEBUI_PORT}:8080"
    #   - "${SPARK_MASTER_PORT}:7077"
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    networks:
      - ProjectHost

  spark-worker:
    image: sobhanebrahimi/spark:0.1
    container_name: spark-worker
    env_file:
      - .env
    environment:
      - SPARK_MODE=${SPARK_MODE_WORKER}
      - SPARK_MASTER_URL=spark://spark-master:${SPARK_MASTER_PORT}
      - SPARK_WORKER_MEMORY=${SPARK_WORKER_MEMORY}
      - SPARK_RPC_AUTHENTICATION_ENABLED=${SPARK_RPC_AUTHENTICATION_ENABLED}
      - SPARK_RPC_ENCRYPTION_ENABLED=${SPARK_RPC_ENCRYPTION_ENABLED}
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=${SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED}
      - SPARK_SSL_ENABLED=${SPARK_SSL_ENABLED}
      - HOME=/tmp
    depends_on:
      - spark-master
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    networks:
      - ProjectHost

  pyspark-job-cdc:
    image: sobhanebrahimi/spark:0.1
    container_name: pyspark-job-cdc
    depends_on:
      - spark-master
      - spark-worker
    env_file:
      - .env
    environment:
      - HOME=/tmp
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    command:
      [
        "/opt/bitnami/spark/bin/spark-submit",
        "/opt/bitnami/spark/scripts/northwind-ch-stg.py"]
    networks:
      - ProjectHost

  pyspark-job-dw:
    image: sobhanebrahimi/spark:0.1
    container_name: pyspark-job-dw
    depends_on:
      - spark-master
      - spark-worker
      - pyspark-job-cdc
    env_file:
      - .env
    environment:
      - HOME=/tmp
    volumes:
      - ./scripts:/opt/bitnami/spark/scripts
    command:
      [
        "/opt/bitnami/spark/bin/spark-submit",
        "/opt/bitnami/spark/scripts/northwind-dw.py"      ]
    networks:
      - ProjectHost

networks:
  ProjectHost:
    external: true


