version: '3.9'

services:
  postgres:
    build: .
    container_name: postgres
    image: my-postgres
    environment:
      POSTGRES_DB: northwind
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql
    networks:
      - ProjectHost

volumes:
  postgres_data:
    driver: local

networks:
  ProjectHost:
    external: true
