version: "3.8"

services:
  grafana:
    image: sobhanebrahimi/grafana:0.1
    container_name: grafana
    env_file:
      - .env
    ports:
      - "${GRAFANA_PORT}:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_PATHS_PROVISIONING=${GF_PATHS_PROVISIONING}
    volumes:
      - ./provisioning:/etc/grafana/provisioning
      - ./dashboards:/var/lib/grafana/dashboards
    restart: unless-stopped
    networks:
      - ProjectHost

networks:
  ProjectHost:
    external: true
