version: '3.9'

services:
  connect:
    image: sobhanebrahimi/debezium:0.1
    container_name: debezium-connect
    environment:
      BOOTSTRAP_SERVERS: kafka:9092
      GROUP_ID: "1"
      CONFIG_STORAGE_TOPIC: connect_configs
      OFFSET_STORAGE_TOPIC: connect_offsets
      STATUS_STORAGE_TOPIC: connect_statuses
      KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      ENABLE_DEBEZIUM_SCRIPTING: "true"
    ports:
      - "8083:8083"
    networks:
      - ProjectHost
  register-connector:
    image: curlimages/curl:8.6.0
    depends_on:
      - connect
    entrypoint: >
      sh -c "
      sleep 10 &&
      curl -X POST http://connect:8083/connectors
      -H 'Content-Type: application/json'
      -d '{
        \"name\": \"postgres-northwind-connector\",
        \"config\": {
          \"connector.class\": \"io.debezium.connector.postgresql.PostgresConnector\",
          \"tasks.max\": \"1\",
          \"database.hostname\": \"postgres\",
          \"database.port\": \"5432\",
          \"database.user\": \"postgres\",
          \"database.password\": \"postgres\",
          \"database.dbname\": \"northwind\",
          \"topic.prefix\": \"northwind\",
          \"plugin.name\": \"pgoutput\",
          \"slot.name\": \"debezium\",
          \"publication.autocreate.mode\": \"filtered\",
          \"include.schema.changes\": \"true\",

          \"snapshot.mode\": \"initial\",
          \"decimal.handling.mode\": \"precise\",
          \"time.precision.mode\": \"connect\",

          \"tombstones.on.delete\": \"false\",
          \"delete.handling.mode\": \"rewrite\",

          \"transforms\": \"unwrap\",
          \"transforms.unwrap.type\": \"io.debezium.transforms.ExtractNewRecordState\",
          \"transforms.unwrap.drop.tombstones\": \"false\",
          \"transforms.unwrap.delete.handling.mode\": \"rewrite\",
          \"transforms.unwrap.add.fields\": \"op,ts_ms\"
        }
      }'
      "
    networks:
      - ProjectHost


networks:
  ProjectHost:
    external: true



