version: '3.9'

services:
  connect:
    image: sobhanebrahimi/debezium:0.1
    container_name: debezium-connect
    env_file:
      - .env
    environment:
      BOOTSTRAP_SERVERS: ${BOOTSTRAP_SERVERS}
      GROUP_ID: ${GROUP_ID}
      CONFIG_STORAGE_TOPIC: ${CONFIG_STORAGE_TOPIC}
      OFFSET_STORAGE_TOPIC: ${OFFSET_STORAGE_TOPIC}
      STATUS_STORAGE_TOPIC: ${STATUS_STORAGE_TOPIC}
      KEY_CONVERTER: ${KEY_CONVERTER}
      VALUE_CONVERTER: ${VALUE_CONVERTER}
      ENABLE_DEBEZIUM_SCRIPTING: ${ENABLE_DEBEZIUM_SCRIPTING}
    # ports:
    #   - "8083:8083"
    networks:
      - ProjectHost
  register-connector:
    image: curlimages/curl:8.6.0
    depends_on:
      - connect
    env_file:
      - .env
    entrypoint: >
      sh -c "
      sleep 10 &&
      curl -X POST http://connect:8083/connectors
      -H 'Content-Type: application/json'
      -d '{
        \"name\": \"${CONNECTOR_NAME}\",
        \"config\": {
          \"connector.class\": \"io.debezium.connector.postgresql.PostgresConnector\",
          \"tasks.max\": \"1\",
          \"database.hostname\": \"${POSTGRES_HOST}\",
          \"database.port\": \"${POSTGRES_PORT}\",
          \"database.user\": \"${POSTGRES_USER}\",
          \"database.password\": \"${POSTGRES_PASSWORD}\",
          \"database.dbname\": \"${POSTGRES_DB}\",
          \"topic.prefix\": \"${TOPIC_PREFIX}\",
          \"plugin.name\": \"${PLUGIN_NAME}\",
          \"slot.name\": \"${SLOT_NAME}\",
          \"publication.autocreate.mode\": \"filtered\",
          \"include.schema.changes\": \"true\",

          \"snapshot.mode\": \"initial\",
          \"decimal.handling.mode\": \"precise\",
          \"time.precision.mode\": \"connect\",

          \"tombstones.on.delete\": \"false\",
          \"delete.handling.mode\": \"rewrite\",

          \"transforms\": \"unwrap\",
          \"transforms.unwrap.type\": \"io.debezium.transforms.ExtractNewRecordState\",
          \"transforms.unwrap.drop.tombstones\": \"false\",
          \"transforms.unwrap.delete.handling.mode\": \"rewrite\",
          \"transforms.unwrap.add.fields\": \"op,ts_ms\"
        }
      }'
      "
    networks:
      - ProjectHost


networks:
  ProjectHost:
    external: true



